.button {
  border-radius: 0px;
  background-color: #53d8b7;
  border: rgb(230, 253, 16);
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}
body {
	background: linear-gradient(90deg, #cc6d5c, rgb(26, 155, 54))	;		
}


.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button:hover{
  color: rgb(255, 0, 0);
  padding-left: 100px;
}
.home {
  border-radius: 0px;
  background-color: #000000;
  border: blue;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}
.home {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.home:hover{
  color: blue;
  padding-left: 100px;
}
.data
{
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.data {
  /*border-collapse: collapse;*/
  margin: 20px;
  font-family: sans-serif;

  box-shadow: 10px;
}
.data thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.edt{
  padding: 3px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(207, 180, 24);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.dlt{
  padding: 3px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.edt:hover,.dlt:hover {background-color: #3e8e41}

.edt:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.dlt:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

